
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/angularScript/cart.js"></script>
<!-- Begin Hiraola's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Cart</li>
            </ul>
        </div>
    </div>
</div>
<!-- Hiraola's Breadcrumb Area End Here -->
<!-- Begin Hiraola's Cart Area -->
<div ng-controller="CartCtrl" class="hiraola-cart-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="javascript:void(0)">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="hiraola-product-remove">remove</th>
                                    <th class="hiraola-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="hiraola-product-price">Unit Price</th>
                                    <th class="hiraola-product-quantity">Quantity</th>
                                    <th class="hiraola-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in listSP">
                                    <td class="hiraola-product-remove">
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-trash"
                                               title="Remove"></i>
                                        </a>
                                    </td>
                                    <td class="hiraola-product-thumbnail"><a href="javascript:void(0)"><img style="width:50px; height:50px" src="~/{{item.Anh}}" alt="Hiraola's Cart Thumbnail"></a></td>
                                    <td class="hiraola-product-name"><a href="javascript:void(0)">{{item.TenSP}}</a></td>
                                    <td class="hiraola-product-price"><span class="amount">{{item.Gia}}</span></td>
                                    <td class="quantity">
                                        <label>Quantity</label>
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" value="{{item.quantity}}" type="text">
                                            <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                            <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal"><span class="amount">{{item.quantity * item.Gia }}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                    <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                                </div>
                                <div class="coupon2">
                                    <input class="button" name="update_cart" value="Update cart" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Cart totals</h2>
                                <ul>
                                    <li>Subtotal <span>$118.60</span></li>
                                    <li>Total <span>$118.60</span></li>
                                </ul>
                                <a href="javascript:void(0)">Proceed to checkout</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Hiraola's Cart Area End Here -->
